@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*BASIC*/

ul {
  padding: 0;
  margin: 0;
}

p {
  color: #68655e;
  line-height: 22px;
}

body {
  background-color: #eee!important;
  overflow-x: hidden;
  font-family: 'dejavu',sans-serif;
}



.templatemo-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}


/*PARALLAX////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


[class*="bg__"] {
  height: 100vh;
  position: relative;
  /* fix background */
  background-attachment: fixed;
  /* center it */
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: none;
  }
}

/* P01 */
.bg__first {
  background-image: url("../images/seoul-p01.png");
}

.bg__first .container {
  height: 75.5vh;
  min-height: 440px;
}

/* xxx */
.bg__second {
  border-bottom: 3px solid #f23b3b;
  height: 100vh;
  background-image: url(
    ../images/kengo-kuma-v-a-dundee-architonic-v-a-dundee-scotland-huftoncrow-073-16-arcit18.jpg
  );
}

/* P03 */
.bg__third {
  height: 100vh;
  background-image: url(
    ../images/seoul-p03.png
  );
}

.bg__third2 {
  height: 100vh;
  background-image: url(
    ../images/seoul-p03.png
  );
}

/* P02 */
.bg__fourth {
  height: 100vh;
  background-image: url(
    ../images/seoul-p02.webp
  );
}

/* P04 */
.bg__fifth {
  height: 100vh;
  background-image: url(
    ../images/seoul-p04.png
  );
}

/* .bg__six {
  height: 100vh;
  background-image: url(
    ../images/japan-p02.jpeg
  );
} */


/*HEADER///////////////////////////////////////////////////////////////////////////////////////////////////*/


.navbar-brand img {
  display: inline-block;
  margin-right: 5px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 700;
  color: #68655e!important;
  text-transform: uppercase;
  text-shadow: none!important;
}

.navbar {
  margin-bottom: 0px!important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-inverse {
  background-image: none;
  background-color: transparent!important;
  border-radius: 0!important;
  border-color: transparent!important;
}

.nav a {
  font-size: 15px;
  color: #68655e!important;
  text-shadow: none!important;
  margin-left: 20px;  
}

.nav a:hover {
  color: #c4b286!important;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

/*SECTIONS*/

.sub_page_heading{
  font-size: 42px;
  font-weight: 1000;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

/*First Section*/
/* P02 + S1 country overview////////////////////////////////////// */

.cacaca {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 10px 10px 0 0;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius:10px 10px 0 0;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5{
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

ol.indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 3px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  /* font-size: 35px; */
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet{
  color: #428bca;
}

.left-image {
  float: right;
  overflow: hidden;
  background-size: cover;
  max-width: 100%;
  border-radius: 10px;
}

.right-caption {
  color: #fff;
  margin: auto;
}

.right-caption h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.right-caption h2 {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 10px;
  margin-top: 30px;
}

.right-caption p {
  color: #fff!important;
}

.stroked-button {
  margin-top: 40px;
}

.stroked-button a {
  margin-top: 30px;
  text-decoration: none!important;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 16px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.stroked-button a:hover {
  color: #c4b286;
  border-color: #c4b286;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

.arrow {
  position: absolute;
  left: 0;
  bottom: 72px;
  width: 100%;
  text-align: center;
}

.arrow i {
  font-size: 22px;
  color: #68655e;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #68655e;
  border-radius: 50%;
}

.arrow i:hover {
  color: #c4b286;
  border-color: #c4b286;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.arrow:active .btn {
  box-shadow: none;
}



/*Second Section*/
/* P03 + ARCHITECTURAL FEATURES////////////////////////////////// */

.second-arrow  {
  text-align: center;
  position: relative;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding-top: 90%!important;
}



.second-arrow i {
  font-size: 22px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}



.second-arrow i:hover {
  color: #c4b286;
  border-color: #c4b286;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}



.second-arrow:active .btn {
  box-shadow: none;
}

#second-section .row {
  height: 100%;
}

/* /////////////////////////////////////////////////////////// */

.sevice-items {
  margin-top: 40px;
}

.service-arrow  {
  /* text-align: center;
  margin-bottom: 10px; */
  /* padding-bottom: 20px!important; */
  vertical-align:bottom;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.service-arrow i {
  font-size: 22px;
  color: #68655e;
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  border: 1px solid #68655e;
  border-radius: 50%;
}

.service-arrow i:hover {
  color: #c4b286;
  border-color: #c4b286;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.service-arrow:active .btn {
  box-shadow: none;
}



/*Third Section*/

.left-text {
  position: absolute;
  margin-top: 20%;
  background-color: rgba(245, 245, 245, 0.8);
  /* border-top: 3px solid #f23b3b; */
  border-radius: 10px;
}

.left-text h2 {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #1e1e1e;
  font-weight: 700;
}

.left-text p {
  margin: 20px 30px 20px 30px;
  text-align: justify;
}

.left-text a {
  text-decoration: none!important;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 10px;
  margin: 0px;
  color: #fff!important;
  background-color: #f23b3b;
}



#third-section,

#third-section .container,

#third-section .row,

#fourth-section,

#fourth-section .container,

#fourth-section .row {

  height: 100%;

}



/*fifth Section*/


.six-arrow {

  text-align: center;
  padding-bottom: 40px;
  /* position: absolute;

  bottom: 20px;

  left: 0;

  width: 100%; */

}



.six-arrow i {



  font-size: 22px;

  color: #fff;

  width: 30px;

  height: 30px;

  line-height: 28px;

  display: inline-block;

  text-align: center;

  border: 1px solid #fff;

  border-radius: 50%;

}



.six-arrow i:hover {

  color: #c4b286;

  border-color: #c4b286;

  -webkit-transition: all 0.3s ease 0s;

          transition: all 0.3s ease 0s;

}



.six-arrow:active .btn {

  box-shadow: none;

}


#fifth-section {

  text-align: center;

  /* padding-top: 40px;

  background-color: #fff; */

}

#fifth-section h1 {

  font-size: 22px;

  color: #1e1e1e;

  font-weight: 700;

  text-transform: uppercase;

  padding-bottom: 15px;


}

#fifth-section p {

  margin-top: 5px;

}

.submit-form {

  margin-top: 40px;

}


#fifth-section .templatemo-submit {

  display: block;

  margin-top: 24px;

  margin-bottom: 60px;

  text-decoration: none;

  font-size: 13px;

  font-weight: 600;

  padding: 10px 60px;

  color: #fff;

  border: 0px;

}

.templatemo-center {

  text-align: center;

}

/* nearby ////////////////////////////////////////////////////////////*/


.near {
  position: absolute;
  margin-top: 20%;
  background-color:rgba(0, 0, 0, .45);
  /* border-top: 3px solid #f23b3b; */
  border-radius: 10px;
}

.near h2 {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.near p {
  margin: 10px 20px 20px 20px;
  text-align: justify;
  color: white;
}

/*FOOTER*/



footer {
  background-color: #68655e;
  text-align: center;
}



.social-icons li {
  margin-top: 60px;
  list-style: none;
  display: inline-block;
}



.social-icons a {
  color: #c4b286;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  line-height: 25px;
}



.social-icons a:hover {
  background-color: #c4b286;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
}



.copyright-text p {

  text-transform: uppercase;

  margin-top: 20px;

  font-size: 12px;

  color: #fff;

  font-weight: 300;

  padding-bottom: 10px;

}



.copyright-text a {

  color: #f9c9c9!important;

  text-decoration: none!important;

}


/*ELEMENTS*/

.card_heading{
  font-size: 30px;
  font-weight: 1000;
  color: #000;
}



.elements-headings {
  font-size: 60px;
  font-weight: 1000;
  color: whitesmoke;
}



.elements-headings h2 {

  font-size: 48px;

  color: whitesmoke;

  font-weight: 1000;

  text-transform: uppercase;

  /* border-bottom: 3px solid #ddd; */

  padding-bottom: 10px;

}



.heading-levels h1 {

  margin-top: 0px;

}



.photos img {

  margin-top: 20px;

  width: 100%;

  overflow: hidden;

  background-size: cover;

}



.elements {

  padding-bottom: 0px;

}



.main-footer {

  margin-top: 80px;

  margin-bottom: -80px;

}



/*RESPONSIVE*/


@media (max-width: 1200px){

  .bg__fourth{
    height: 120vh;
    padding-bottom: 20px;
  }

  .bg__third2{
    height: 120vh;
    padding-bottom: 20px;
  }
  
}


@media (max-width: 991px) { 

  .fourth-arrow {

    text-align: center;

    margin-top: 92vh;

  }

    .submit-form select {

    margin-top: 15px;

  }

  .submit-form input {

    margin-top: 15px;

  }

  .bg__third2{
    height: 120vh;
    padding-bottom: 20px;
  }

}



@media (max-width: 767px) {

  .right-caption h4 {

    font-size: 16px;

  }

  .right-caption h2 {

    font-size: 26px;

  }

  .left-image {

    float: none;    

  }

  .left-image img {

    margin: 0 auto;

  }

  .right-caption {

    text-align: center;

    margin-top: 10px;

    padding-bottom: 0;

  }

  .right-caption h2 {

    padding-bottom: 0px;

    margin-top: 0px;

  }

  .right-caption p {

    margin-top: -5px;

  }

  .stroked-button {

    padding-bottom: 15px;

    padding-top: 10px;

    margin-top: 10px;

  }

  .navbar-inverse .navbar-toggle {

    border-color: #68655e!important;

    background-color: #68655e;

  }

  .navbar-inverse .navbar-toggle:hover {

    background-color: #c4b286!important;

  }

  .right-text .button {

    padding-bottom: 0px;

  }

  .left-text .button {

    padding-bottom: 0px;

  }

  .bg__fifth{
    height: 120vh;
    padding-bottom: 20px;
  }

  .bg__fourth{
    height: 150vh;
    padding-bottom: 20px;
  }

  .bg__third{
    height: 330vh;
    padding-bottom: 20px;
  }

  .bg__third2{
    
    padding-bottom: 20px;
  }

}

@media (max-width: 640px) {

  .left-image img {

    width: 128px;

  }

}

@media (max-width: 480px) {

  .arrow {

    bottom: 20px;

  }

}

@media (max-height: 600px) {

  .bg__third, .bg__fourth {

    min-height: 600px;

  }

}

@media (max-height: 500px) {

  .bg__first {

    min-height: 520px;

  }

}

